*{
    margin: 0;
    padding: 0;
   
}
body{
    background-image: url(/public/img/bgImg.png);
}
.container{
    
    background: white;
    position:absolute;
    top:50%;
    left:50%;
    transform : translate(-50%,-50%);
    height: 80vh;
    width: 80vw;
font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  cursor: crosshair;
    
}

#DrawingArea{
    height: 80vh;
    width: 80vw;
}

.components{
    width:200px;
    height: auto;
    padding: 30px 20px;
    background-color: #3C3D37;
    border-radius: 10px;
    margin : 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    position: absolute;
    left: 1.5%;
    top: 2.5%;
}
li{
    margin-bottom : 10px ;
    display: grid;
    gap: 1.5px;
}
.btn-img{
    height: 20px;
    width: 20px;
    cursor: pointer;
}


.sec-btn {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;

  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
 transition-delay: 0.1s;
}

.sec-btn:hover,
.sec-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.sec-btn:active {
  opacity: .5;
} 